/* 📄 Styles/App.css */

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Contenido principal */
.main-content {
  flex: 1;
  background: #f7f9fc;
  padding: 20px;
  transition: all 0.3s ease;
  margin-left: 290px;
  /* ancho del sidebar abierto */
  overflow-y: auto;
}

.main-content.collapsed {
  margin-left: 170px;
  /* ancho del sidebar colapsado */
}

/* Opcional: estilo para pantallas pequeñas */
@media (max-width: 768px) {
  .main-content {
    margin-left: 70px;
  }

  .main-content.collapsed {
    margin-left: 70px;
  }
}