.navbar {
  
  width: 200px;
  background-color: #2fa898;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.navbar ul {
  padding: 0;

  list-style: none;
}

.navbar a {
   display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.logo img {
  width: 150px;
  display: block;
  margin: 20px auto;
}